<div class="container">
    <div class="row">
        <div class="col-xs-12">
            
            
            <hr>
            
                <!--<app-servers></app-servers>-->
                <!--<div app-servers></div>-->             <!--different selectors- reference servers.component.ts-->
                <!--<div class="app-servers"></div>-->
                <app-warning-alert></app-warning-alert>
                <app-success-alert></app-success-alert>
        </div>
    </div>
</div>